<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Sans+Narrow:700" rel="stylesheet">
</head>
<body>
<% const menuItems = [
    {title: 'HAIRCARE', link: '#'},
    {title: 'COLOR', link: '#'},
    {title: 'SRYLING', link: '#'},
    {title: 'TEXTURE', link: '#'},
    {title: 'GET INSPIRED', link: '#'},
    {title: 'SOCIAL', link: '#'},
    {title: 'NEWS', link: '#'},
    {title: 'ABOUT', link: '#'},
    {title: 'PROFESSIONAL', link: '#'}
]; %>

<% const videos = [
    [{title: '<span class="headline">STEP <span class="color-elem">BY</span> STEP</span>'},
        {id: 'z8M0Fa1JVco'},
        {id: 'Wi2KcdoCuo4'},
        {id: '8H6dYUgQKB8'},
        {id: 'PZjGrmHdFME'},
        {id: '_wLGr24VeoI'},
        {id: 'DG4FAU5qmMY'}
    ]
    ,
    [{title: '<div class="headline">CRAFT  <span class="color-elem">EDUCATION</span> </div>'},
        {id: 'RmNWNLXmswk'},
        {id: '-tztXOz8Vc0'},
        {id: 'kUfIVtyydgQ'},
        {id: 'RmNWNLXmswk'}
    ],
    [{title: '<span class="headline">INSPIRATION</span>'},
        {id: 'VmmwwzR536g'},
        {id: '6oPBFnsqJW8'},
        {id: 'VmmwwzR536g'},
        {id: '6oPBFnsqJW8'}
    ]

]
%>
<% const icons = [
    {icon: 'facebook', link: '#'},
    {icon: 'twitter', link: '#'},
    {icon: 'pinterest', link: '#'},
    {icon: 'youtube', link: '#'},
    {icon: 'instagram', link: '#'}
]
%>

<header class="header">
    <div class="header__top">

        <div class="header__top location">
            <span class="location__elem">NEAREST SALON</span>
            <img class="icon-dropdown" src="img/ico_dropdown.svg">
            <div class="location__title-salon">Plush Salon 91101</div>
        </div>


        <div class="header__top__menu nav-burger">
            <input class="nav-burger__checkbox" type="checkbox" id="burger">
            <label for="burger" class="nav-burger__label"></label>


            <ul class="nav-burger__menu">
                <% menuItems.forEach((item) => { %>
                    <li class="nav-burger__elem">
                        <a class="nav-burger__link" href="<%= item.link %>">
                            <%= item.title %>
                        </a>
                    </li>
                <% }) %>
            </ul>

        </div>


        <div class="header__top logo">
            <img src="img/logo.svg">
        </div>

        <form class="search">
            <input id="field" type="text" placeholder="Искать...">
            <button class="button-search" type="submit"><img class="search__size" src="img/ico_search.svg"></button>
        </form>

    </div>

    <div class="header__bottom">
        <nav>
            <div class="nav-menu">
                <% menuItems.forEach((item) => { %>
                    <div class="nav-menu__wrapper-elem">
                        <a class="menu-link" href="<%= item.link; %>"><%= item.title %></a>
                    </div>
                <% }) %>
            </div>
        </nav>
    </div>
</header>


<section class="section">
    <span class="breadcrumbs">
        <ul class="breadcrumbs__style">
            <li class="breadcrums__style item">
                <a class="breadcrums__style link">HOME</a>
            </li>
            <li class="breadcrums__style item">
                /<a class="breadcrums__style link_color">VIDEOS</a>
            </li>
        </ul>
    </span>
    <h1 class="headline-videos">VIDEOS</h1>


    <a class="videos__link" data-fancybox href="https://youtu.be/8H6dYUgQKB8">
        <div class="videos__link play">
            <div class="videos__link play__icon"></div>
        </div>
        <div class="videos__wrapper">
            <img class="videos_size" src="https://img.youtube.com/vi/8H6dYUgQKB8/maxresdefault.jpg">
        </div>
    </a>

    <div class="section__text-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque lobortis, nisl at ullamcorper egestas,
        felisadi piscing dolor, a interdum lorem urna quis magna.
    </div><!--  изменить название класса-->
    <% for(var i = 0;i < videos.length;i++){ %>
        <div class="wrap">
            <%- videos[i][0].title %>
            <div class="slider videos">
                <% for(var j = 1;j < videos[i].length;j++){ %>

                    <a class="videos__link" data-fancybox href="https://youtu.be/<%= videos[i][j].id %>">
                        <div class="videos__link play">
                            <div class="videos__link play__icon"></div>
                        </div>
                        <div class="videos__wrapper">
                            <img class="videos_size"
                                 src="https://img.youtube.com/vi/<%= videos[i][j].id %>/maxresdefault.jpg">
                        </div>
                    </a>

                <% } %>
            </div>
            <button class="loadMore">LOAD MORE</button>
        </div>
    <% } %>

</section>
<footer class="footer">
    <ul class="icon-social">
        <% icons.forEach(item => { %>
            <li class="icon-social__indent">
                <a class="icon-social__link" href="<%= item.link %>">
                    <%- include("img/ico_" + item.icon + ".svg") %>
                </a>
            </li>
        <% }) %>
    </ul>
    <div class="settings">
        <div class="settings__item" id="location">LOCATION: UNITED STATES</div>
        <div class="settings__item" id="language">LANGUAGE: ENGLISH</div>
    </div>

    <% const foooterMenu = [
        {title: 'PRIVACY POLICY', link: '#'},
        {title: 'TERMS OF USE', link: '#'},
        {title: 'CONTACT US', link: '#'},
        {title: 'NEWSLETTER', link: '#'},
        {title: 'SITEMAP', link: '#'}
    ]
    %>

    <ul class="footer__menu">
        <% foooterMenu.forEach(item => { %>
            <li class="footer__menu__item">
                <a class="footer__menu__link" href="<%= item.link %>"><%= item.title %></a>
            </li>
        <% }) %>
    </ul>

</footer>


<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
