<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans%7CPT+Sans+Narrow:700" rel="stylesheet">
</head>
<body>
<% const menuItems = [
    {title: 'HairCare', link: '#'},
    {title: 'Color', link: '#'},
    {title: 'Styling', link: '#'},
    {title: 'Get inspired', link: '#'},
    {title: 'Social', link: '#'},
    {title: 'News', link: '#'},
    {title: 'About', link: '#'},
    {title: 'Professional', link: '#'}
]; %>

<% const step = [
    {id: 'z8M0Fa1JVco'},
    {id: 'Wi2KcdoCuo4'},
    {id: '8H6dYUgQKB8'},
    {id: 'PZjGrmHdFME'},
    {id: '_wLGr24VeoI'},
    {id: 'DG4FAU5qmMY'}
]
%>
<%
const craft = [
    {id: 'RmNWNLXmswk'},
    {id: '-tztXOz8Vc0'},
    {id: 'kUfIVtyydgQ'},
    {id: 'RmNWNLXmswk'}

]
%>
<% const inspiration = [
    {id: 'VmmwwzR536g'},
    {id: 'vz0k8O-Ef9Y'},
    {id: '6oPBFnsqJW8'},
    {id: 'VmmwwzR536g'}

]
%>
<% const icons = [
    {icon: 'facebook'},
    {icon: 'twitter'},
    {icon: 'pinterest'},
    {icon: 'youtube'},
    {icon: 'instagram'}
]
%>

<header class="header">
    <div class="header__top">
        <div class="header__top__location">
            <span id="text1">NEAREST SALON</span>
            <img src="img/ico_dropdown.svg" height="10px">
            <br>
            <span id="text2">Plush Salon 91101</span>
        </div>


        <div class="header__top__menu nav-burger"><!--  -->
            <input class="nav-burger__checkbox" type="checkbox" id="burger">
            <label for="burger" class="nav-burger__label"></label>


            <ul class="nav-burger__menu">
                <% menuItems.forEach((item) => { %>
                    <li class="nav-burger__elem">
                        <a class="nav-burger__link" href="<%= item.link %>">
                            <%= item.title %>
                        </a>
                    </li>
                <% }) %>
            </ul>

        </div>


        <div class="header__top__logo">
            <img class="header__top__logo_size" src="img/logo.svg">
        </div>
        <div class="header__top__search">
            <img src="img/ico_search.svg" height="24px">
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom__location">
            <span id="text1">NEAREST SALON</span>
            <img src="img/ico_dropdown.svg" height="10px">
            <br>
            <span id="text2">Plush Salon 91101</span>
        </div>
        <div class="header__bottom__search">
            <img src="img/ico_search.svg" height="24px">
        </div>

        <div class="header__bottom__menu">
            <% menuItems.forEach((item) => { %>
                <div class="header__bottom__menu_links">
                    <li><a id="menu-link" href="<%= item.link; %>"><%= item.title %></a></li>
                </div>

            <% }) %>
        </div>


    </div>
</header>


<section class="section">
    <h4 class="section__videos">VIDEOS</h4>
    <a data-fancybox href="https://youtu.be/gr8u2KXuGXA">
        <div class="section__video-wrapper"><img width="100%" src="https://img.youtube.com/vi/gr8u2KXuGXA/hqdefault.jpg"></div>
    </a>
    <div class="section_text-1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque lobortis, nisl at ullamcorper egestas,
        felisadi piscing dolor, a interdum lorem urna quis magna.
    </div>
    <span id="headline">STEP <span id="color-elem">BY</span> STEP</span>

    <div class="section__slider">
        <% step.forEach((item) => { %>
            <a data-fancybox href="https://youtu.be/<%= item.id %>">
                <div class="section__video-wrapper">
                    <img width="100%" src="https://img.youtube.com/vi/<%= item.id %>/hqdefault.jpg">
                </div>
            </a>
        <% }) %>
    </div>
    <button id="loadMore" onclick="loading()">LOAD MORE</button>
    <div id="headline">CRAFT <span id="color-elem">EDUCATION</span></div>
    <div  class="section__slider">
        <% craft.forEach((item) => { %>
            <a data-fancybox href="https://youtu.be/<%= item.id %>">
                <div class="section__video-wrapper"><img width="100%"
                                    src="https://img.youtube.com/vi/<%= item.id %>/hqdefault.jpg">
                </div>
            </a>
        <% }) %>
    </div>
    <span id="headline">INSPIRATION</span>
    <div  class="section__slider">
        <% inspiration.forEach((item) => { %>
            <a data-fancybox href="https://youtu.be/<%= item.id %>">
                <div class="section__video-wrapper"><img width="100%"
                                    src="https://img.youtube.com/vi/<%= item.id %>/hqdefault.jpg">
                </div>
            </a>
        <% }) %>
    </div>
</section>
<footer class="footer">
    <!--мобильная версия -->
    <ul class="footer__icon-messager">
        <% icons.forEach((item) => { %>
        <li class="footer__icon-messager__indent">
            <a href="#"><!-- добавить в массив ссылки-->
                <%- include("img/ico_" + item.icon + ".svg") %>
            </a>
        </li>
        <% }) %>
    </ul>
    <div id="location">LOCATION:UNITED STATES</div>
    <div id="language">LANGUAGE:ENGLISH</div>
    <div id="text3">PRIVACY POLICY TERMS OF USE CONTACT US</div>
    <div id="text4">--</div>
    <!-- версия начиная с планшетов -->
</footer>


<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
